.wpcf7 .respuesta-lector de pantalla {
	posición: absoluta;
	desbordamiento: oculto;
	clip: rect(1px, 1px, 1px, 1px);
	ruta de clip: inserción (50%);
	altura: 1px;
	ancho: 1px;
	margen: -1px;
	relleno: 0;
	borde: 0;
	ajuste de palabras: normal! Importante;
}

.wpcf7 formulario .wpcf7-respuesta-salida {
	margen: 2em 0,5em 1em;
	relleno: 0,2em 1em;
	borde: 2px sólido #00a0d2; /* Azul */
}

.wpcf7 form.init .wpcf7-respuesta-salida,
.wpcf7 formulario.restablecer .wpcf7-respuesta-salida,
.wpcf7 formulario.enviando .wpcf7-respuesta-salida {
	pantalla: ninguna;
}

.wpcf7 formulario.enviado .wpcf7-respuesta-salida {
	color del borde: #46b450; /* Verde */
}

.wpcf7 formulario.fallido .wpcf7-respuesta-salida,
.wpcf7 formulario.abortado .wpcf7-respuesta-salida {
	color del borde: #dc3232; /* Rojo */
}

.wpcf7 formulario.spam .wpcf7-respuesta-salida {
	color del borde: #f56e28; /* Naranja */
}

.wpcf7 formulario.inválido .wpcf7-respuesta-salida,
.wpcf7 formulario.no aceptado .wpcf7-respuesta-salida,
.wpcf7 formulario.pago-requerido .wpcf7-respuesta-salida {
	color del borde: #ffb900; /* Amarillo */
}

.wpcf7-form-control-wrap {
	posición: relativa;
}

.wpcf7-no-consejo-válido {
	color: #dc3232; /* Rojo */
	tamaño de fuente: 1em;
	peso de fuente: normal;
	bloqueo de pantalla;
}

.use-consejo-de-validación-flotante .wpcf7-not-valid-tip {
	posición: relativa;
	arriba: -2ex;
	izquierda: 1em;
	índice z: 100;
	borde: 1px sólido #dc3232;
	fondo: #fff;
	relleno: .2em .8em;
	ancho: 24 cm;
}

.wpcf7-lista-elemento {
	pantalla: bloque en línea;
	margen: 0 0 0 1em;
}

.wpcf7-list-item-label::antes,
.wpcf7-list-item-label::después {
	contenido: " ";
}

.wpcf7-spinner {
	visibilidad: oculta;
	pantalla: bloque en línea;
	color de fondo: #23282d; /* Gris oscuro 800 */
	opacidad: 0,75;
	ancho: 24px;
	altura: 24 píxeles;
	borde: ninguno;
	radio de borde: 100%;
	relleno: 0;
	margen: 0 24px;
	posición: relativa;
}

formulario.enviando .wpcf7-spinner {
	visibilidad: visible;
}

.wpcf7-spinner::antes {
	contenido: '';
	posición: absoluta;
	color de fondo: #fbfbfc; /* Gris claro 100 */
	arriba: 4px;
	izquierda: 4px;
	ancho: 6px;
	altura: 6px;
	borde: ninguno;
	radio de borde: 100%;
	origen de transformación: 8px 8px;
	nombre de la animación: girar;
	duración de la animación: 1000 ms;
	función de sincronización de animación: lineal;
	animación-iteración-recuento: infinito;
}

@media (prefiere-movimiento-reducido: reducir) {
	.wpcf7-spinner::antes {
		nombre de la animación: parpadeo;
		duración de la animación: 2000 ms;
	}
}

@keyframes girar {
	de {
		transformar: rotar (0 grados);
	}

	a {
		transformar: rotar (360 grados);
	}
}

@keyframes parpadean {
	de {
		opacidad: 0;
	}

	50% {
		opacidad: 1;
	}

	a {
		opacidad: 0;
	}
}

.wpcf7 entrada[tipo="archivo"] {
	cursor: puntero;
}

.wpcf7 entrada[tipo="archivo"]: deshabilitado {
	cursor: predeterminado;
}

.wpcf7 .wpcf7-enviar: deshabilitado {
	cursor: no permitido;
}

.wpcf7 entrada[tipo="url"],
.wpcf7 entrada[tipo="correo electrónico"],
.wpcf7 entrada[tipo="tel"] {
	dirección: litros;
}

.wpcf7-reflexión> salida {
	mostrar: elemento de lista;
	estilo de lista: ninguno;
}

.wpcf7-reflexión> salida [oculta] {
	pantalla: ninguna;
}